{% load static %}

<head>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        crossorigin="anonymous">
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>

    {% block head %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <div class="container">
            <a class="navbar-brand" href="{% url 'repo:home' %}">Covid-19
                repo</a>
            <div class="collapse navbar-collapse justify-content-between">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link"
                        href="{% url 'repo:home' %}">Home</a>
                    <a class="nav-item nav-link"
                        href="{% url 'repo:database' %}">Database</a>
                    <a class="nav-item nav-link"
                        href="{% url 'repo:stats' %}">Stats</a>
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link"
                        href="{% url 'repo:collections' %}">Collections</a>
                    {% endif %}
                </div>
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <span class="navbar-text">Logged in as:
                        {{ user.username }}</span>
                    <a class="nav-item nav-link"
                        href="{% url 'repo:logout' %}">Sign out</a>
                    {% else %}
                    <a class="nav-item nav-link"
                        href="{% url 'repo:login' %}">Sign in</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div style="min-height:70vh;">
            {% for message in messages %}
            <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col">

                </div>
                <div class="col">

                </div>
                <div class="col">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled text-small text-muted">
                        <li>E-mail: <a class="text-muted text-decoration-none"
                                href="mailto:{{ EMAIL }}">{{ EMAIL }}</a></li>
                        <li>Phone number: {{ PHONE_NUMBER }}</li>
                        <li>Address: {{ ADDRESS }}</li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

</body>