{% extends "repo/base.html" %}

{% block head %}
<title>Collections</title>
{% endblock %}

{% block content %}
{% if collections %}
{% include 'repo/collections/collections_table.html' %}
{% else %}
No collections created!<br>
{% endif %}
<a class="btn btn-primary mb-2"
    href="{% url 'repo:collections_create' %}">Create new collection</a>
{% endblock %}