{% extends 'repo/base.html' %}

{% block head %}
<title>Confirm deletion</title>
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"{% if seq_collection %} from "{{ seq_collection }}"{% endif %}?</p>
    <input class="btn btn-danger" type="submit" value="Confirm">
</form>
{% endblock %}