{% extends "repo/base.html" %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block content %}
<p class="lead mt-2">Currently {{ sequences.count }} sequences in database.</p>

<div class="mt-4">
    <h1 class="lead mt-2">Recently added sequences</h1>
    {% include "repo/table/body_clean.html" %}
    {% if user.is_authenticated %}
    <h1 class="lead mt-4">Your recent collections</h1>
    {% include 'repo/collections/collections_table.html' %}
    {% endif %}
</div>

{% endblock %}