{% extends 'repo/base.html' %}

{% block head %}
<title>Stats</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"
    integrity="sha256-uVEHWRIr846/vAdLJeybWxjPNStREzOlqLMXjW/Saeo="
    crossorigin="anonymous"></script>

<script>

    function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++ ) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function getColors(model) {
        var colors = []
        for (var i = 0; i < model.length; i++) {
            colors.push(getRandomColor())
        }
        return colors
    }

    const config_country = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: {{ country_count|safe }},
                backgroundColor: getColors({{ country_count|safe }})           
            }],
            labels: {{ country_names|safe }}
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Sequence count by country'
                }
            }
        }
    };

    const config_center = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: {{ center_count|safe }},
                backgroundColor: getColors({{ center_count|safe }})
            }],
            labels: {{ center_names|safe }}
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Sequence count by center'
                }
            }
        }
    };

    window.onload = function () {
        var countryCTX = document.getElementById('countryChart')
            .getContext('2d');
        var centerCTX = document.getElementById('countryChart')
            .getContext('2d');
        window.countryChart = new Chart(countryChart, config_country);
        window.centerChart = new Chart(centerChart, config_center);
    };
</script>
{% endblock %}

{% block content %}
<div class="d-flex flex-row" style="height: 750px;">
    <div class="chart-container" style="position: relative; height:50vh; width:100vw">
        <canvas id="countryChart"></canvas>
    </div>
    <div class="chart-container" style="position: relative; height:50vh; width:100vw">
        <canvas id="centerChart"></canvas>
    </div>
</div>
{% endblock %}