{% extends "repo/base.html" %}

{% block head %}
<title>Add sequences</title>
<script>
    $(document).ready(function () {
        $("input[name='reset']").click(function() {                        
            if (sessionStorage.choices) {
                sessionStorage.removeItem('choices');
            }
        });
        $("input[name='add']").click(function() {                        
            if (sessionStorage.choices) {
                sessionStorage.removeItem('choices');
            }
        });
    });
</script>
{% endblock %}

{% block content %}

<p class="lead mt-2">Select your samples. When you are ready Add them.</p>
<form method="POST">
    {% csrf_token %}
    <div class="row mt-4 mb-2">
        <div class="col d-flex justify-content-start form-group">
        </div>
        <div class="col d-flex justify-content-end form-group">
            <input type="submit" class="btn btn-primary" name="add"
                value="Add" />
            <input type="submit" class="btn btn-danger" name="reset"
                value="Reset" />
        </div>
    </div>
    <div class="mb-4">
        {% include "repo/table/body_create.html" %}
        {% include "repo/table/navigation.html" %}
    </div>
</form>
{% include "repo/table/filters.html" %}
{% endblock %}