<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><span class="text-dark btn">Collection
                        name</span></th>
                <th scope="col"><span class="text-dark btn">Creation
                        date</span></th>
                <th scope="col"><span class="text-dark btn">View/Edit</span></th>
                <th scope="col"><span class="text-dark btn">Delete</span></th>
            </tr>
        </thead>
        <tbody>
            {% for collection in collections %}
            <tr>
                <th>{{ collection.name }}</th>
                <th>{{ collection.creation_date }}</th>
                <th><a
                        href="{% url 'repo:collection_details' collection.pk %}"><i
                            class="bi bi-pencil-square"></i></a></th>
                <th><a href="{% url 'repo:collection_delete' collection.pk %}"><i
                            class="bi bi-trash"></i></a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>