{% extends "repo/base.html" %}

{% block head %}
<title>Create collection</title>
<script>
    $(document).ready(function () {
        $("input[name='reset']").click(function() {                        
            if (sessionStorage.choices) {
                sessionStorage.removeItem('choices');
            }
        });
        $("input[name='create']").click(function() {                        
            if (sessionStorage.choices) {
                sessionStorage.removeItem('choices');
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<p class="lead mt-2">Select your samples. When you are ready name your
    collection and Create it.</p>
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="refresh" value="" />
    <div class="row mt-4 mb-2">
        <div class="col d-flex justify-content-start form-group">
        </div>
        <div class="col d-flex justify-content-end form-group">
            <label for="collection_name"
                class="col-form-label col-sm-1">Name</label>
            <input type="text" name="collection_name" class="form-control"
                {% if 'collection_name' in request.session %}value={{ request.session.collection_name }}{% endif %}>
            <input type="submit" class="btn btn-primary" name="create"
                value="Create" />
            <input type="submit" class="btn btn-danger" name="reset"
                value="Reset" />
        </div>
    </div>
    <div class="mb-4">
        {% include "repo/table/body_create.html" %}
        {% include "repo/table/navigation.html" %}
    </div>
</form>
{% include "repo/table/filters.html" %}
{% endblock %}