{% extends "repo/base.html" %}

{% block head %}
<title>Collection details</title>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="row my-2">
        <div class="col-7 form-group d-flex justify-content-start form-group">
            <h3 class="w-100"><input type="text" class="form-control-plaintext"
                    name="name" value="{{ collection.name }}"></h3>
        </div>
        <div
            class="col form-group d-flex align-self-center justify-content-end form-group">
            <input type="submit" class="btn btn-primary" value="Change name" />
            <a class="btn btn-primary"
                href="{% url 'repo:add_to_collection' collection.id %}">Add new
                sequences</a>
            <a class="btn btn-primary"
                href="{% url 'repo:download_pdf' collection.id %}">Download
                pdf</a>
        </div>
    </div>
</form>

{% include "repo/table/body_edit.html" %}
{% include "repo/table/navigation.html" %}
{% include "repo/table/filters.html" %}
{% endblock %}