<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
    crossorigin="anonymous">
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  </script>
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    @page {
      size: landscape;
      margin: 0in 0.44in 0.2in 0.44in;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"><span class="text-dark btn">Accession</span></th>
            <th scope="col"><span class="text-dark btn">Center</span></th>
            <th scope="col"><span class="text-dark btn">Country</span></th>
            <th scope="col"><span class="text-dark btn">Taxonomy</span></th>
            <th scope="col"><span class="text-dark btn">Collection date</span>
            </th>
            <th scope="col"><span class="text-dark btn">Host</span></th>
            <th scope="col"><span class="text-dark btn">Isolate</span></th>
          </tr>
        </thead>
        <tbody>
          {% for sequence in page_obj %}
          <tr scope="row">
            <th>{{ sequence.accession }}</th>
            <th>{{ sequence.center }}</th>
            <th>{{ sequence.country }}</th>
            <th>{{ sequence.taxonomy }}</th>
            <th>{{ sequence.collection_date }}</th>
            <th>{{ sequence.host }}</th>
            <th>{{ sequence.isolate }}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>