{% extends "repo/table/body.html" %}

{% block table_header_end %}
<th scope="col"><span class="text-dark btn">Delete</span></th>
{% endblock %}
{% block table_body_end %}
<th><a
        href="{% url 'repo:collection_sequence_delete' collection.pk sequence.pk %}"><i
            class="bi bi-trash"></i></a></th>
{% endblock %}