{% load table_tags %}

{% block t_head %}
{% endblock %}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                {% block table_header_begin %}
                {% endblock %}
                <th scope="col"><a class="text-dark btn"
                        href="?{% param_replace orderby='accession' %}">Accession</a>
                </th>
                <th scope="col"><a class="text-dark btn"
                        href="?{% param_replace orderby='center' %}">Center</a>
                </th>
                <th scope="col"><a class="text-dark btn"
                        href="?{% param_replace orderby='country' %}">Country</a>
                </th>
                <th scope="col"><a class="text-dark btn"
                        href="?{% param_replace orderby='taxonomy' %}">Taxonomy</a>
                </th>
                <th scope="col"><a class="text-dark btn"
                        href="?{% param_replace orderby='collection_date' %}">Collection
                        date</a></th>
                <th scope="col"><a class="text-dark btn"
                        href="?{% param_replace orderby='host' %}">Host</a>
                </th>
                <th scope="col"><a class="text-dark btn"
                        href="?{% param_replace orderby='isolate' %}">Isolate</a>
                </th>
                <th scope="col"><span class="text-dark btn">Download</span>
                </th>
                {% block table_header_end %}
                {% endblock %}
            </tr>
        </thead>
        <tbody>
            {% for sequence in page_obj %}
            <tr scope="row">
                {% block table_body_begin %}
                {% endblock %}
                <th>{{ sequence.accession }}</th>
                <th>{{ sequence.center }}</th>
                <th>{{ sequence.country }}</th>
                <th>{{ sequence.taxonomy }}</th>
                <th>{{ sequence.collection_date }}</th>
                <th>{{ sequence.host }}</th>
                <th>{{ sequence.isolate }}</th>
                <th><a
                        href="https://www.ebi.ac.uk/ena/browser/api/fasta/{{ sequence.accession }}?download=true"><i
                            class="bi bi-download"></i></a></th>
                {% block table_body_end %}
                {% endblock %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>