{% extends "repo/table/body.html" %}

{% block t_head %}
<script>
    $(document).ready(function () {
        var choice = [];
        if (sessionStorage.choices) {
            choice = choice.concat(JSON.parse(sessionStorage.getItem('choices')));
        }
        $("input[name='hidden_choice']").val(choice);

        for (var pk of choice) {
            var input = $(":input[value=" + pk + "]");
            if (input.length) {
                input.prop("checked", true);
            }
        }
        $(":checkbox").change(function () {
            if ($(this).prop("checked")) {
                choice.push($(this).val());
                choice = $.unique(choice);
            } else {
                var index = choice.indexOf($(this).val());
                if (index > -1) {
                    choice.splice(index, 1);
                }
            }
            sessionStorage.setItem('choices', JSON.stringify(
                choice));
            $("input[name='hidden_choice']").val(choice);
        });
    });
</script>
<input type="hidden" name="hidden_choice">
{% endblock %}

{% block table_header_begin %}
<th scope="col"><span class="text-dark btn">Select</span></th>
{% endblock %}
{% block table_body_begin %}
<th>
    <div class="d-flex align-content-center justify-content-center">
        <input class="form-check-input" type="checkbox" name="sequences"
            value="{{ sequence.pk }}" />
    </div>
</th>
{% endblock %}