<div class="card p-3 bg-light rounded">
    <form method="GET">
        <label for="accession" class="sr-only">Search by accession:</label>
        <div class="row">
            <div class="col">
                <input type="text" name="accession" class="form-control">
            </div>
            <div class="col d-flex justify-content-end">
                <button class="btn btn-secondary mb-2">Search</button>
            </div>
        </div>
    </form>
    <div class="row">
        <label for="country" class="col-sm">Country:</label>
        <label for="year" class="col-sm">Year:</label>
        <div class="col-1"></div>
    </div>
    <form class="row" method="GET">
        <input type="hidden" name="page" value="{{ page_obj.number }}" />
        <input type="hidden" name="orderby"
            value="{{ request.GET.orderby }}" />
        <div class="col-sm">
            <select name="country" class="form-select">
                <option value="">---</option>
                {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm">
            <select name="year" class="form-select">
                <option value="">---</option>
                {% for year in years %}
                <option value="{{ year.year }}">{{ year.year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-1 d-flex justify-content-end">
            <button class="btn btn-secondary">Filter</button>
        </div>
    </form>
</div>