{% load table_tags %}

<nav aria-label="sequence navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?{% param_replace page=1 %}">First</a>
        </li>
        <li class="page-item">
            <a class="page-link"
                href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
        </li>
        {% endif %}
        {% if page_obj.number|add:'-3' > 1 %}
        <li class="page-item"><a class="page-link"
                href="?{% param_replace page=page_obj.number|add:'-4' %}">&hellip;</a>
        </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ i }}</span>
        </li>
        {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
        <li class="page-item"><a class="page-link"
                href="?{% param_replace page=i %}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.paginator.num_pages > page_obj.number|add:'3' %}
        <li class="page-item"><a class="page-link"
                href="?{% param_replace page=page_obj.number|add:'4' %}">&hellip;</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link"
                href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link"
                href="?{% param_replace page=page_obj.paginator.num_pages %}">Last</a>
        </li>
        {% endif %}
    </ul>
</nav>