{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'admin:refresh' %}" class="btn btn-high btn-success">Refresh</a>
    </li>
{% endblock %}
