{% extends "repo/base.html" %}

{% block head %}
<title>Sign in</title>
{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width:330px;">
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <h3 class="font-weight-normal text-center">Please sign in</h3>
    <form method="post" action="{% url 'repo:login' %}" class="form-signin" >
        {% csrf_token %}         
        <input class="form-control" style="margin:0 0 -1;padding:10px;" placeholder="Username" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required autofocus id="id_username">
        <input class="form-control" style="margin:0 0 -1;padding:10px;" placeholder="Password" type="password" name="password" autocomplete="current-password" required id="id_password">
        <input class="btn mt-2 btn-primary btn-block w-100" type="submit" name="login" value="Sign in" />
    </form>
    
</div>
{% endblock %}